## Investigating Speciation

Analyse the results of the speciation parameter grid search on the initial and final populations of Pong experiment #4.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../notebooks/speciation_grid_search_results.csv')
df.head()

   generation  threshold  disjoint_coeff  weight_coeff  n_species
0          43        0.5             0.5           0.5        616
1           0        0.5             0.5           0.5        579
2          43        0.5             0.5           1.0        932
3          43        0.5             0.5           1.5        980
4           0        0.5             0.5           1.5        994

In [3]:
conditions = ['(5 < n_species < 50)',
              '(weight_coeff > 0)',
              '(disjoint_coeff > 0)']
df.query(str.join('&', conditions))

      generation  threshold  disjoint_coeff  weight_coeff  n_species
320           43        1.5             0.5           0.5         12
338            0        1.5             1.0           0.5         13
339           43        1.5             1.0           0.5         20
357           43        1.5             1.5           0.5         32
374           43        1.5             2.0           0.5         41
...          ...        ...             ...           ...        ...
1405          43        4.5             3.5           1.5         22
1421           0        4.5             4.0           1.5         30
1423          43        4.5             4.0           1.5         26
1437           0        4.5             4.5           1.0          9
1441          43        4.5             4.5           1.5         32

[102 rows x 5 columns]

In [4]:
conditions = ['(5 < n_species < 50)',
              '(weight_coeff >= 1)',
              '(disjoint_coeff >= 1)',
              '(weight_coeff > disjoint_coeff)']
df.query(str.join('&', conditions))

      generation  threshold  disjoint_coeff  weight_coeff  n_species
828            0        3.0             1.0           1.5         44
989            0        3.5             1.0           1.5         14
991           43        3.5             1.0           1.5         47
1151           0        4.0             1.0           1.5          6
1152          43        4.0             1.0           1.5         19
1153           0        4.0             1.0           2.0         31
1315          43        4.5             1.0           1.5          9
1316           0        4.5             1.0           2.0         14
1317          43        4.5             1.0           2.0         49
1335           0        4.5             1.5           2.0         22